
@media screen and (max-width: 1024px) {
  body {
    font-size: 14px;
  }

  .jumbotron {
    padding: 1rem;
    height: 600px; 
  }

  nav {
    max-width: 100%;
    padding: 0;
    text-align: center;

    border: none;
    border-radius: 0;
    background: none;

    img {
      width: 80px;
    }

    .links {
      display: none;
    }

    .contact {
      display: none;
    }

    .toggleMenu {
      display: block;
    }

    .mobile-nav {
      display: none;
    }

  }

  .hero {
    margin: 2rem 0;

    h1 {
      font-size: 28px;
      line-height: 1.4;
      font-weight: 700;

      img {
        top: 51px;
        left: 239px;
        max-height: 20px;
      }
    }

    p {
      font-size: 16px;
      font-weight: 400;

    }

    .waitlist-form  {
      display: block;
      font-size: 14px;

      input {
        width: 100%;
        border-radius: 6px;
      }

      button {
        width: 100%;
        margin: 1rem 0;
        border-radius: 6px;
      }
      
    }
  }

  .about {
    .contact {
      display: block;
    }

    .content .f {
      display: block;
    }

    .desc {
      width: 100%;
      padding: 1rem 0;
    }
  }

  .centre {
    .content {
      display: block;

    }

    .desc {
      font-size: 14px;
    }

    .explorer {
      display: block;
      padding: 1rem;

      #loadingIndicator {
        display: flex;
        justify-content: center;
        margin: 1rem auto;
      }

      select {
        display: block;
        margin-bottom: 1rem;
        width: 100%;
      }
  
      button {
        width: 100%;
  
        .icon {
          display: none;
        }
  
        span {
          display: block;
          font-size: 16px;
        }
      }
    }
    
  }

  .envoys {
    .content {
      .btns button {
        width: 100%;
      }
    }
    .table {
      overflow-x: auto;
    }
  }

  .dvss {
    .q {
      display: block;

      .content {
        display: block;
  
        .f {
          display: block;
        }
      }
    }

    .desc {
      width: 100%;
      padding: 1rem 0;
    }
  }

  .blog {
    .f {
      display: block;
      padding: 0;
    }

    .content {
      display: flex;
      flex-direction: column-reverse;
      

      div {
        padding: 1rem;
      }


    }


    

    .head {
      padding: 1rem 3rem;
    }
  }

  .connect {
    margin: 0 1rem;
    img {
      display: none;
    }

    .content {
      padding: 2rem 0;
    }

    .connect-form {
      display: block;
  
      input {
        width: 100%;
        border-radius: 6px;
      }
  
      button {
        width: 100%;
        margin: 1rem 0;
        border-radius: 6px;
      }
  
    }

  }


  .modal-container {

    .modal-content {
      width: 90%;
      
    }

    
  }

  

  .readLink {
    padding: 0;
  }

  .about, .centre, .dvss, .blog, .connect, .envoys {
    max-width: 100%;
    padding: 0 1rem;
    display: block;
  }

  .about img,
  .dvss img,
  .connect img{
    width: 100%;
    margin: 2rem 0;
  }

  

  footer {
    padding: 3rem 0;

    .container {
      max-width: 100%;
      padding: 0 1rem;

      .content {
        flex-direction: column;
      }

      .final {
        flex-direction: column;
        align-items: flex-start;

        div {
          width: 100%;
          padding: 1rem 0;
          justify-content: space-between;
        }
      }
    }
  }


}

@media screen and (max-width: 380px) {
  .hero {
    h1 {
      font-size: 24px;

      img {
        top: 43px;
        left: 204px;
      }
    }

    p {
      font-size: 14px;
    }
  }

  footer {
    .container {
      .content{ 
        .f  p{
          font-size: 14px;
          a{
            font-size: 16px;
          }
        }

        .s {
          div {
            .links {
              a {
                font-size: 14px;
              }
            }
          }
        }
      }

      .final {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 332px) {
  .hero {
    h1 {
      font-size: 24px;

      img {
        display: none;
      }
    }

    p {
      font-size: 14px;
    }
  }
}

