* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    
}

.header{
    
    width: 1440px;
    height: 700px;
    
    
}
.backgound{
    /* position: relative; */
    overflow: hidden;

}

.backgound::before {
    position: absolute;
    content: '';
    background-color: white;
    height: 695px;
    width: 1341.8px;
}

.backgroud .image {
    position: relative;
    width: fit-content;
    overflow: hidden;
    z-index: 0;
    
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    
    
}

.image::before {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    content: '';
    background: transparent;
    opacity: 0.5;
    z-index: 6;
    filter: blur(5px);
}

.img2 img{
    position: absolute;
    left: 61%;
    top: 32%;
    width: 500px;
    height: 500px;
    /* inset: 75%; */
    z-index: 0;
    filter: blur(5px);
}

.img2 {
    overflow: hidden;
    
}

.logo {
    z-index: 5;
}

.navbar{
    
    display: flex;
    margin-left:30px ;
    width: 1280px;
    justify-content: center;
    
}

.navbar .nav-list{
    margin-top: 60px;
    margin-left: 400px;
    font-size: 16px;
    display: flex;
    z-index: 5;
}
.nav-list a{
    margin-right: 10px;
    text-decoration: none;
    color: #151D25;
}
.navbar .list2{
    float: right;
    margin-top: 60px;
    margin-left: 400px;
    font-size: 16px;
}

.container{
    width: 100%;
}
.sub-container {
    width: 95%;
    margin: 0 auto;
}

.home-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.header-content{
    text-align: center;
    width: 700px;
    z-index: 5;

}
.header-content h1{
    color: #254E71;
    font-size: 60px;
    
    line-height: 72px;
}
.header-content p{
    color: #375C7E;
    font-size: 18px;
   text-align: center;
    z-index: 5;
}
.input-box{

}