
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
}



.header{
    height: 720px;
    background-image: url('./assets/img/hero section BG.png');
    padding-top: 50px;
    background-size: cover;
    
}

.logo img{
    width: 5rem;
    height: 3rem;
}

.navbar{
    /* margin-top:80px ; */
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 40px;
    z-index: 8;
    align-items: center;
    padding: 0px 50px;
    
}

.navbar .nav-list{
    font-size: 16px;
    display: flex;
    z-index: 5;
    gap: 40px;
}
.nav-list a{
    margin-right: 10px;
    text-decoration: none;
    color: #151D25;
}
.navbar .list2{
    font-size: 16px;
    z-index: 5;
    background-color: rgba(253, 153, 203, 1);
    border-radius: 30px;
    height: 40px;
    color: rgba(21, 29, 37, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    text-align: center;
    /* padding-top: 7px; */
}



.navbar .toggle_btn {
    display: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(225, 225, 225, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition:  height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 2;

}

.dropdown_menu.open {
    height: 260px;

}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.dropdown_menu a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}

.dropdown_menu a:hover,
.dropdown_menu a.active {
    color: #10369e;  
}



.container{
    width: 100%;
}
.sub-container {
    width: 85%;
    margin: 0 auto;
}

.home-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.header-content{
    text-align: center;
    width: 700px;
    z-index: 5;

}
.header-content h1{
    color: #254E71;
    font-size: 50px;
    
    line-height: 72px;
}
.header-content p{
    color: #375C7E;
    font-size: 18px;
   text-align: center;
    z-index: 5;
    line-height: 28px;
    align-items: center;
    justify-content: center;
}

.input-box {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
}
.input-box input{
    height: 60px;
    width: 350px;
    border-radius: 6px;
    padding: 20px;
    border: 1px solid rgba(51, 102, 153, 1);
    color: rgba(52, 103, 148, 1);
}
.input-box button{
    background-color: rgba(51, 102, 153, 1);
    color: rgba(252, 252, 252, 1);
    border-radius: 6px;
    width: 150px;
    height: 60px;
    border: none;
}
.input-box button a{
    color: rgba(252, 252, 252, 1);
}
.about-hero{
    position: relative;
    height: 720px;
}

.abou {
    position: absolute;
    top: -25px;
    
    background: rgba(246, 246, 246, 1);
    z-index: 7;
    width: inherit;
}

.about{
    display: flex;
    gap: 150px;
    justify-content: space-between;

}


.about-heading{
    border-radius: 20px;
    border:1px solid black ;
    width: 500px;
    padding: 5px;
    text-align: center;
    height: 40px;
    margin-top: 60px;
}

.about-p {
    margin-top: 60px;
}

.about-p p{
    color: #151D25;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-p a{
    gap: 20px;
    color: #346794;
}
.about-p img{
    margin-top: 40px;
    border-radius: 7px;
    width: 100%;
}
.explorer-hero{
    margin-bottom: 60px;
    
}

.explore {
    margin-top: 60px;
    display: flex;
    gap: 60px;
    justify-content: space-between;
    margin-bottom: 60px;
    

}

.explorer-heading{
    border-radius: 20px;
    border:1px solid black ;
    width: 550px;
    padding: 5px;
    text-align: center;
    height: 40px;
}
.explorer{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* width: 80%; */
    
}
.explore-info p{
     width: 100%;
}
.region{
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
    
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow:1.5px 1.5px 10px 0.5px rgb(0, 0, 0);
    
    
}
.region select{
    width: 450px;
    height: 40px;
    border-radius: 6px;
    
}
.region .button{
    background-color: #336699;
    color: #fff;
    width: 45px;
    border-radius: 6px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-hero{
    
    background-color: rgba(51, 102, 156, 0.05);
}


.product{
    margin-top: 60px;
    display: flex;
    gap: 100px;
    justify-content: space-between;
    margin-bottom: 60px;
    

}
.product-heading{
    margin-top: 60px;
    border-radius: 20px;
    border:1px solid black ;
    width: 300px;
    padding: 5px;
    text-align: center;
    height: 40px;
}

.product-info {
    margin-top: 60px;
}

.product-info p{
    color: #151D25;
    font-size: 18px;
    margin-bottom: 30px;
}
.zero img{
    width: 100%;
    border-radius: 6px;
}
.blog{
    margin-top: 60px;
    display: flex;
    gap: 100px;
    justify-content: space-between;
    margin-bottom: 60px;
    

}
.blog-heading{
    border-radius: 20px;
    border:1px solid black ;
    width: 300px;
    padding: 5px;
    text-align: center;
    height: 40px;
}

.blog-info p{
    color: #151D25;
    font-size: 18px;
    margin-bottom: 30px;
}
.split{
    display: flex;
    background-color: rgba(21, 29, 37, 0.04);
    gap: 80px;
    border-radius: 12px;
}
.main1{
    width: 50%;
    margin-left: 30px;
}
.main1 h3{
    margin-top: 60px;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 30px;
    color: rgba(21, 29, 37, 1);
}
.main1 p{
    line-height: 28px;
    font-size: 18px;
    color: rgba(21, 29, 37, 1);
}
.main1 .arrows{
    margin-top: 30px;
    display: inline-flex;
    margin-bottom: 40px;
    gap: 40px;
    font-size: 30px;
}
.arrow1{
    border: 1px solid rgba(51, 102, 156, 1);
    border-radius: 6px;
    width: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.arrow2{
    border: 1px solid rgba(51, 102, 156, 1);
    border-radius: 6px;
    width: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.arrows i{
    color: rgba(51, 102, 156, 1);
}
.main2 img{
    border-radius: 6px;
}
.last {
    background-color: rgba(235, 243, 251, 1);
    margin-bottom: 50px;
    border-radius: 12px;
    display: flex;
    margin-top: 70px;
}
.last h3{
    color: rgba(54, 92, 126, 1);
}
.last p{
    color: rgba(54, 92, 126, 1);
}
.last input{
    margin-top: 30px;
    color: rgba(54, 92, 126, 1);
    height: 50px;
    
    
    
}
.subs input{
    width: 300px;
    padding-left: 10px;
    border-radius: 8px;
    color:rgba(54, 92, 126, 1);
}

.form {
    color: rgba(54, 92, 126, 1);
    display: flex;
    gap: 10px;
    
    
}
 .sub button {
    border-radius: 8px;
    width: 100px;
    background-color: rgba(51, 102, 153, 1);
    color: rgba(252, 252, 252, 1);
}
.conclude{
    background-color: rgba(21, 29, 37, 1); 
}
.concluded{
    border-bottom: 0.1px solid rgba(252, 252, 252, 1);
    display: flex;
    color: rgba(252, 252, 252, 1);
    justify-content: space-between;
    align-items: center;
    height: 520px;
    line-height: 28px;

}

.part1 {
    display: block;
    
}


.part1 img{
    width: 90px;
    height: 55px;
   
}
.part1 p{
    width: 60%;
    margin-top: 30px;
    margin-bottom: 60px;
}
.part1 strong{
    font-size: 28px;
}


.part2 {
    display: flex;
    justify-content: space-between;
    gap: 150px;
}

.part2_1{
   line-height: 45px;
}
.part2_2{
   line-height: 45px;
}
.part2_2 a{
    color: rgba(252, 252, 252, 1) ;
    text-decoration: underline;
}
.part2 ul{

    font-size: 16px;
    font-weight: 300;
}
.part3 ul{
    font-size: 16px;
    font-weight: 300;
}
.end{
    display: flex;
    color:  rgba(252, 252, 252, 1);
    padding-bottom: 50px;
    margin-top: 25px;
    justify-content: space-between;
  
}
.end .end1{
        
}


@media (max-width: 769px) {

    .navbar {
        border: none;
        padding: 1px;
    }

    .navbar .nav-list {
        display: none;
    }
    
    .navbar .list2 {
        display: none;
    }


    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    .home-hero {
        margin-top: 100px;
    }

    .header-content {
        width: 100%;
    }

    .header-content h1 {
        font-size: 36px;
        line-height: normal;
    }

    .input-box {
        flex-direction: column;
        gap: 10px;
    }

    .input-box button {
        width: 350px;
    }

    .abou {
        position: relative;
        width: 100%;
    }
    .about{
        flex-direction: column;
        gap: 10px;
    }
    .about-heading{
        width: 100px;
        margin-top: 25px;
        
    }
    .about p{
        margin-top: 5px;
        width: 100%;
    }
    .about-p p{
        margin-bottom: 10px;
    }
    .about-p img {
        width: 300px;
    }
    .explore{
        flex-direction: column;
    }
    .explorer-heading{
        width: 200px;
    }
    .region{
        flex-direction: column;
        box-shadow: none;

    }
    .region select{
        width: 300px;
    }
    .product{
        flex-direction: column;
    }
    .product-heading{
        width: 150px;
    }
    .product-info{
        margin-top: 10px;
    }
    .product-info p{
        width: 100%;
    }
    .zero img{
        width: 100%;
       
    }
    .blog{
        flex-direction: column;
        margin-top: 55px;
        margin-bottom: 10px;
    }
    .blog-heading{
        width: 100px;
    }
    .split{
        flex-direction: column;
    }
    .main1{
        width: 90%;
    }
    .main2 img{
        width: 330px;
        height: 220px;
    }
    .last{
        flex-direction: column;
    }
    .form{
        flex-direction: column;
    }
    .last .main2{
        display: none;
    }

    .concluded {
        flex-direction: column;
    }

    .part1 p {
        width: 100%;
    }

    .end {
        flex-direction: column;
        gap: 20px;
    }
   
}